.root {
  padding: 8px;
  border: 2px solid var(--mute-color);
  border-radius: 8px;
}
.user {
  display: flex;
  align-items: center;
}
.userNameWrapper {
  width: 100%;
  padding: 8px;
  .userName {
    font-weight: 500;
  }
  .userNameEmail {
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 8px;
  }
  .userNamePhone {
    display: flex;
    padding-top: 8px;
    border-top: 2px solid var(--mute-color);
    width: 100%;

    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
  }
  .userNameWebsite {
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
  }
}