.root {
  padding: 8px;
  border: 2px solid #f4f4f5;
  border-radius: 8px;
}
.user {
  display: flex;
  align-items: center;
}
.userNameWrapper {
  width: 100%;
  padding: 8px;
  .userName {
    font-weight: 500;
  }
  .userNameEmail {
    font-weight: 500;
    color: #71717A;
    margin-bottom: 8px;
  }
  .userNamePhone {
    display: flex;
    padding-top: 8px;
    border-top: 1px solid #bbbbc0;
    width: 100%;

    font-size: 14px;
    color: #09090B;
    text-decoration: none;
  }
  .userNameWebsite {
    font-size: 14px;
    color: #09090B;
    text-decoration: none;
  }
}