[data-theme='light'] {
  --primary-color: #fff;
  --text-color: #09090b;
  --secondary-color: #71717a;
  --third-color: #fff;
  --mute-color: #f4f4f5;
  --hover-color: #f0f7ff;
  --inverted-color: #000;
}
