.root {
  margin-top: 10px;
  padding: 20px;
  border: 2px solid var(--mute-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  .albumItem {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-top: 10px;
      width: 150px;
      height: 100px;
    }
  }
}