.root {
  margin-top: 10px;
  padding: 20px;
  border: 2px solid var(--mute-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  
  .albumItem {
    min-height: 300px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    .grid{
      display: grid;
      width: 300px;
      height: 300px;
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(3, 100px);
      .img {
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
    }
    h3{
      margin-top: 20px;
      font-size: 14px;
      font-style: italic;
    }
  }
}